<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDL Generated Header Files.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SDLStaticLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SDL_net.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dosbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>dospad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>iDOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>minizip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0064653F107E3D7400183915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E71E60DF11B5502700EC5A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E71E60EA11B5506800EC5A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E778B2B1123918F6008AF49A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7BE1297128BF31A0046990B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7D6B89711BF322E00D34665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD6526620DE8FCCB002AD96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
